

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Escribir al contacto:</h4>
      </div>
      <div class="modal-body">
       <textarea class="form-control" rows="5" id="desc" ng-model="description"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Enviar mensaje</button>
      </div>
    </div>

  </div>
</div>


        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{campaign.Campaignname}}
                    <small>{{campaign.item}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="{{campaign.campaignProfile}}" alt="">
            </div>

            <div class="col-md-4">
                <h3>Descripción de la Campaña</h3>
                <p>{{campaign.campaignDescription}}</p>
                <p><b>Inicio de campaña</b>{{campaign.dateStart}}</p>
                 <p><b>Fin de campaña</b>{{campaign.dateEnd}}</p>     
                 <p><b>Organizador: </b>{{campaign.user}}</p>
                 <p><b>Donación de: </b>{{campaign.item}}</p>    
                  <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#myModal">Donar a esta campaña</button>       
            </div>

        </div>
        <!-- /.row -->

       
        <!-- /.row -->

        <hr>

      